In [1]:
import pandas as pd
import numpy as np
import os
import shutil

In [2]:
import json
from pprint import pprint

with open('../data/categories.json') as f:
    data = json.load(f)

pprint(data)

{'Beauty': {'BB & CC Cream': 5,
            'Blush On': 2,
            'Bronzer': 11,
            'Concealer': 7,
            'Contour': 6,
            'Face Palette': 0,
            'Foundation': 1,
            'Highlighter': 8,
            'Lip Gloss': 14,
            'Lip Liner': 15,
            'Lip Tint': 13,
            'Lipstick': 12,
            'Other Face Cosmetics': 4,
            'Other Lip Cosmetics': 16,
            'Powder': 3,
            'Primer': 9,
            'Setting Spray': 10},
 'Fashion': {'A Line Dress': 21,
             'Big Size Dress': 24,
             'Big Size Top': 30,
             'Blouse\xa0': 26,
             'Bodycon Dress': 22,
             'Casual Dress': 18,
             'Crop Top ': 29,
             'Maxi Dress': 20,
             'Others': 17,
             'Party Dress': 19,
             'Shirt': 27,
             'Tanktop': 28,
             'Tshirt': 25,
             'Wedding Dress': 23},
 'Mobile': {'Advan': 45,
            'Alcatel': 55,
            'Asus': 43,
            'Blackberry': 36,
            'Brandcode': 39,
            'Evercoss': 44,
            'Honor': 54,
            'Huawei': 47,
            'Icherry': 52,
            'Infinix': 40,
            'Iphone': 31,
            'Lenovo': 37,
            'Maxtron': 56,
            'Mito': 46,
            'Motorola': 49,
            'Nokia': 38,
            'Oppo': 41,
            'Others Mobile & Tablet': 35,
            'Realme': 51,
            'SPC': 57,
            'Samsung': 32,
            'Sharp': 48,
            'Smartfren': 53,
            'Sony': 33,
            'Strawberry': 50,
            'Vivo': 42,
            'Xiaomi': 34}}

In [3]:
train = pd.read_csv('../data/train.csv')

In [13]:
train[train['image_path']=='fashion_image/78d17fdb159bba51a4250dc3d583245e']

,itemid,title,Category,image_path
286583,2282553,retro floral dress,17,fashion_image/78d17fdb159bba51a4250dc3d583245e

In [5]:
data['Fashion']

{'Wedding Dress': 23,
 'Shirt': 27,
 'Casual Dress': 18,
 'Maxi Dress': 20,
 'Big Size Dress': 24,
 'Bodycon Dress': 22,
 'Party Dress': 19,
 'Blouse\xa0': 26,
 'Tshirt': 25,
 'Crop Top ': 29,
 'Tanktop': 28,
 'Others': 17,
 'A Line Dress': 21,
 'Big Size Top': 30}

In [13]:
# beauty_cat = [data['Beauty'][x] for x in data['Beauty']]
# beauty_df = train[train['Category'].isin(beauty_cat)] #filter out those with 
# # beauty_df['Category'].value_counts()
# sample_beauty_df = beauty_df.groupby('Category').head(200).reset_index(drop=True)
# sample_filename = sample_beauty_df['image_path'].values.tolist() #get the sample of the name of all file

In [17]:
mobile_cat = [data['Mobile'][x] for x in data['Mobile']]
mobile_df = train[train['Category'].isin(mobile_cat)] #filter out those with 
mobile_df['Category'].value_counts()
sample_mobile_df = mobile_df.groupby('Category').head(200).reset_index(drop=True)
sample_filename_mobile = sample_mobile_df['image_path'].values.tolist() #get the sample of the name of all file

In [18]:
sample_filename_mobile[0]

'mobile_image/a9c8f0fdd6587deed197634066cf7eee.jpg'

In [ ]:
# fashion_cat = [data['Fashion'][x] for x in data['Fashion']]
# fashion_df = train[train['Category'].isin(fashion_cat)] #filter out those with 
# fashion_df['Category'].value_counts()
# sample_fashion_df = fashion_df.groupby('Category').head(200).reset_index(drop=True)
# sample_filename_fashion = sample_fashion_df['image_path'].values.tolist() #get the sample of the name of all file

In [9]:
sample_filename_fashion[0]

'fashion_image/78d17fdb159bba51a4250dc3d583245e'

In [32]:
# for file in sample_filename:
#     shutil.copy('../'+file, '../sample/beauty/')

In [15]:
# for file in sample_filename_fashion:
#     shutil.copy('../'+file+'.jpg', '../sample/fashion/')

In [ ]:
for file in sample_filename_mobile:
    shutil.copy('../'+file, '../sample/mobile/')