In [1]:
import pandas as pd
import numpy as np

In [2]:
import json
from pprint import pprint

with open('../data/categories.json') as f:
    data = json.load(f)

pprint(data)

{'Beauty': {'BB & CC Cream': 5,
            'Blush On': 2,
            'Bronzer': 11,
            'Concealer': 7,
            'Contour': 6,
            'Face Palette': 0,
            'Foundation': 1,
            'Highlighter': 8,
            'Lip Gloss': 14,
            'Lip Liner': 15,
            'Lip Tint': 13,
            'Lipstick': 12,
            'Other Face Cosmetics': 4,
            'Other Lip Cosmetics': 16,
            'Powder': 3,
            'Primer': 9,
            'Setting Spray': 10},
 'Fashion': {'A Line Dress': 21,
             'Big Size Dress': 24,
             'Big Size Top': 30,
             'Blouse\xa0': 26,
             'Bodycon Dress': 22,
             'Casual Dress': 18,
             'Crop Top ': 29,
             'Maxi Dress': 20,
             'Others': 17,
             'Party Dress': 19,
             'Shirt': 27,
             'Tanktop': 28,
             'Tshirt': 25,
             'Wedding Dress': 23},
 'Mobile': {'Advan': 45,
            'Alcatel': 55,
            'Asus': 43,
            'Blackberry': 36,
            'Brandcode': 39,
            'Evercoss': 44,
            'Honor': 54,
            'Huawei': 47,
            'Icherry': 52,
            'Infinix': 40,
            'Iphone': 31,
            'Lenovo': 37,
            'Maxtron': 56,
            'Mito': 46,
            'Motorola': 49,
            'Nokia': 38,
            'Oppo': 41,
            'Others Mobile & Tablet': 35,
            'Realme': 51,
            'SPC': 57,
            'Samsung': 32,
            'Sharp': 48,
            'Smartfren': 53,
            'Sony': 33,
            'Strawberry': 50,
            'Vivo': 42,
            'Xiaomi': 34}}

In [3]:
train = pd.read_csv('../data/train.csv')

In [5]:
train.head()

,itemid,title,Category,image_path
0,307504,nyx sex bomb pallete natural palette,0,beauty_image/6b2e9cbb279ac95703348368aa65da09.jpg
1,461203,etude house precious mineral any cushion pearl...,1,beauty_image/20450222d857c9571ba8fa23bdedc8c9.jpg
2,3592295,milani rose powder blush,2,beauty_image/6a5962bed605a3dd6604ca3a4278a4f9.jpg
3,4460167,etude house baby sweet sugar powder,3,beauty_image/56987ae186e8a8e71fcc5a261ca485da.jpg
4,5853995,bedak revlon color stay aqua mineral make up,3,beauty_image/9c6968066ebab57588c2f757a240d8b9.jpg

In [6]:
data['Beauty']

{'Foundation': 1,
 'Face Palette': 0,
 'Concealer': 7,
 'Lip Gloss': 14,
 'Blush On': 2,
 'Highlighter': 8,
 'BB & CC Cream': 5,
 'Other Face Cosmetics': 4,
 'Lip Tint': 13,
 'Bronzer': 11,
 'Lip Liner': 15,
 'Powder': 3,
 'Setting Spray': 10,
 'Primer': 9,
 'Contour': 6,
 'Other Lip Cosmetics': 16,
 'Lipstick': 12}

In [13]:
beauty_cat = [data['Beauty'][x] for x in data['Beauty']]

In [ ]:
train[train['Category'].isin(beauty_cat)